<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="card.css" rel="stylesheet"/>
</head>
<body>

<header>
    <h1>Sample Products Page</h1>
</header>
<section>
    <div class="products" id="products" onload="loadData()">
    </div>
</section>

<script type="text/javascript" src="card.js"></script>

</body>
</html>